Source: apt-checkupdates
Section: admin
Priority: optional
Maintainer: Marius Gedminas <marius@gedmin.as>
Build-Depends: debhelper (>> 8.0.0)
Standards-Version: 3.9.4

Package: apt-checkupdates
Architecture: all
Depends: apt, ${misc:Depends}
Description: Automatically check and download Debian updates every night
 * This is an unofficial package.
 .
 This package contains scripts to perform an apt-get update and download
 any available updates via apt-get dist-upgrade -d.  If any updates are
 available, the system administrator will be notified via email.  The
 packages are only downloaded into /var/cache/apt/archives, they will not
 be installed automatically.
