Source: apt-checkupdates
Section: admin
Priority: optional
Maintainer: Marius Gedminas <mgedmin@b4net.lt>
Build-Depends: debhelper (>> 3.0.0)
Standards-Version: 3.5.2

Package: apt-checkupdates
Architecture: any
Depends: apt
Description: Automatically check and download Debian updates every night
 * This is an unofficial package.
 .
 This package contains scripts to perform an apt-get update and download
 any available updates via apt-get dist-upgrade -d.  If any updates able
 available, the system administrator will be notified via email.  The
 packages are only downloaded into /var/cache/apt/archives, they will not
 be installed automatically.
